<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Registration Form</title>
    <style>
        body{
            padding: 50px;
        }
        p{
            color:red;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Registration Form</h1>
    <form action="/process" method="post">  
        {% with messages =get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <table class="table">
            <tbody>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="first_name" value="{{session['first_name']}}"></td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td><input type="text" name="last_name" value="{{session['last_name']}}"></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="text" name="email" value="{{session['email']}}"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" value="{{session['password']}}"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" name="confirm_password" value="{{session['confirm_password']}}"></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value = "submit">
    </form> 
</body>
</html>