<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>
    <style>
    h2{
        color:red;
    }
    </style>
</head>
<body>
    <div class="main_content">
        <h2>Danger</h2>
        <p>Hmm....{{message_id}} does not belong to you. Are you trying to hack my site?</p>
        <p>Your IP address {{ip_ad}} has been recorded!</p>
        <p>Next time you attempt an activity like this, we'll log you off automatically and report your IP address to the administrator.</p>

    </div>
    
</body>
</html>